@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    color: black;
    background: white;
}

.striped-bg {
    background: repeating-linear-gradient(
        -45deg,
    white,
    white 25%,
    rgb(16 185 129) 25%,
    rgb(16 185 129)50%,
    white 50%
    ) top left fixed;
    background-size: 7px 7px;
}